<h1 id="albums-title">Albums for: {{items.0.artists.0.name}}</h1>
<div class="artist-result-container">

    {{#each items}}
    <div class="artist-display">
        <img src="{{images.[1].url}}" alt="{{name}}">
        <div class="artis-name-bottom">
            <h3>{{ name }}</h3>
            <a href="/tracks/{{id}}" id="{{id}}">View Tracks</a>
        </div>
    </div>
    {{#each images}}

    {{/each}}
    {{/each}}
</div>